<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>RedService</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
    </style>
    <footer>
      <div class="footer">&copy;<span> СyberZion - [RedService] </span></div>
    </footer>
    
    <h1>[R3D] – You've Crossed The Walls</h1>
    
    <div class="Screen"></div>
    
    <div class="DivClass">
      <span class="MatrixTextEffect">{
        Opps Error. DB not initialized}
      </span>
    </div>
    <span class="Pulse"></span>  
  </body>
</html>
