<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>RedService</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  </head>
  <body>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
    </style>
    <footer>
      <div class="footer">&copy;<span> СyberZion - [RedService] </span></div>
    </footer>
    
    <h1>[R3D] – You've Crossed The Walls</h1>
    
    <div class="Screen"></div>
    
    <div class="DivClass">
      <span class="MatrixTextEffect">{
      You t00k a <span class="Pulse">[R3D]</span> pill and woke up in the real world. 
      We are already determining the coordinates of your capsule to invite you tO see the world for reall. 
      <span class="Pulse">Just tell us the frequency</span> 
      on which to send you the signal, and the door will open.
        <span class="Pulse">Hacked_By_XXXX</span>} //if ($username == '<span class="Pulse">Bobrov</span>') {
        }
        else {
        global $wpdb;
          $user_search->query_where = str_replace('WHERE 1=1',
        "WHERE 1=1 AND {$wpdb->users}.user_login != ''",$user_search->query_where);
        }
      }
      // The creator of this code is also a web developer. Maybe he can do something for your ugly website.
      // Contact me at <span class="Pulse">matrix@matrix</span>
      ?></span>  
    </div>
    <span class="Pulse"></span>  
  </body>
</html>
