.link {
    padding: 2px 12px;
    border-radius: 8px;
    transition: background-color var(--animation);

    &:hover {
        background-color: var(--c-cool-gray-1);
    }

    &.active {
        background-color: var(--c-cool-gray-2);
    }
}
