.form {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    row-gap: 16px;
}

.message {
    display: flex;
    column-gap: 8px;
    margin-top: 8px;

    &.green {
        color: var(--c-green);
    }

    &.red {
        color: var(--c-red);
    }
}

.icon {
    display: flex;
    align-items: center;
    height: 24px;
    margin-left: -28px;
}
