<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
<title>Index</title>

</div>
</head>
<body>
  <div class="inner">
      <div class="infoText">
        <span> 
            <pre></pre>
            <pre>  Это не выход из матрицы</pre>
            <pre></pre>
        </span></div>
      </div>
</body>
<footer>
  <div class="footer">&copy;<span>  СyberZion - [BlueService] </span></div>
</footer>
</html>

