<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
<title>Blue Pill</title>
<footer>
  <div class="footer">&copy;<span> СyberZion - [BlueService] </span></div>
</footer>

</head>
  <div class="container">
    <li><a href="/pill-1">Выход из матрицы</a></li>
    <li><a href="/pill-2">Выход из матрицы</a></li>
    <li><a href="/pill-3">Выход из матрицы</a></li>
    <li><a href="/pill-4">Выход из матрицы</a></li>
    <li><a href="/pill-5">Выход из матрицы</a></li>
    <li><a href="/pill-6">Выход из матрицы</a></li>
    <li><a href="/pill-7">Выход из матрицы</a></li>
    <li><a href="/pill-8">Выход из матрицы</a></li>
    <li><a href="/pill-9">Выход из матрицы</a></li>
    <li><a href="/pill-10">Выход из матрицы</a></li>
    <li><a href="/pill-11">Выход из матрицы</a></li>
    <li><a href="/pill-12">Выход из матрицы</a></li>
    <li><a href="/pill-13">Выход из матрицы</a></li>
    <li><a href="/pill-14">Выход из матрицы</a></li>
    <li><a href="/pill-15">Выход из матрицы</a></li>
    <li><a href="/pill-16">Выход из матрицы</a></li>
    <li><a href="/pill-17">Выход из матрицы</a></li>
    <li><a href="/pill-18">Выход из матрицы</a></li>
    <li><a href="/pill-19">Выход из матрицы</a></li>
    <li><a href="/pill-20">Выход из матрицы</a></li>
    <li><a href="/pill-21">Выход из матрицы</a></li>
    <li><a href="/pill-22">Выход из матрицы</a></li>
    <li><a href="/pill-23">Выход из матрицы</a></li>
    <li><a href="/pill-24">Выход из матрицы</a></li>
    <li><a href="/pill-25">Выход из матрицы</a></li>
    <li><a href="/pill-26">Выход из матрицы</a></li>
    <li><a href="/pill-27">Выход из матрицы</a></li>
    <li><a href="/pill-28">Выход из матрицы</a></li>
    <li><a href="/pill-29">Выход из матрицы</a></li>
    <li><a href="/pill-30">Выход из матрицы</a></li>
    <li><a href="/pill-31">Выход из матрицы</a></li>
    <li><a href="/pill-32">Выход из матрицы</a></li>
    <li><a href="/pill-33">Выход из матрицы</a></li>
    <li><a href="/pill-34">Выход из матрицы</a></li>
    <li><a href="/pill-35">Выход из матрицы</a></li>
    <li><a href="/pill-36">Выход из матрицы</a></li>
    <li><a href="/pill-37">Выход из матрицы</a></li>
    <li><a href="/pill-38">Выход из матрицы</a></li>
    <li><a href="/pill-39">Выход из матрицы</a></li>
    <li><a href="/pill-40">Выход из матрицы</a></li>
    <li><a href="/pill-41">Выход из матрицы</a></li>
    <li><a href="/pill-42">Выход из матрицы</a></li>
    <li><a href="/pill-43">Выход из матрицы</a></li>
    <li><a href="/pill-44">Выход из матрицы</a></li>
    <li><a href="/pill-45">Выход из матрицы</a></li>
    <li><a href="/pill-46">Выход из матрицы</a></li>
    <li><a href="/pill-47">Выход из матрицы</a></li>
    <li><a href="/pill-48">Выход из матрицы</a></li>
    <li><a href="/pill-49">Выход из матрицы</a></li>
    <li><a href="/pill-50">Выход из матрицы</a></li>
    <li><a href="/pill-51">Выход из матрицы</a></li>
    <li><a href="/pill-52">Выход из матрицы</a></li>
    <li><a href="/pill-53">Выход из матрицы</a></li>
    <li><a href="/pill-54">Выход из матрицы</a></li>
    <li><a href="/pill-55">Выход из матрицы</a></li>
    <li><a href="/pill-56">Выход из матрицы</a></li>
    <li><a href="/pill-57">Выход из матрицы</a></li>
    <li><a href="/pill-58">Выход из матрицы</a></li>
    <li><a href="/pill-59">Выход из матрицы</a></li>
    <li><a href="/pill-60">Выход из матрицы</a></li>
    <li><a href="/pill-61">Выход из матрицы</a></li>
    <li><a href="/pill-62">Выход из матрицы</a></li>
    <li><a href="/pill-63">Выход из матрицы</a></li>
    <li><a href="/pill-64">Выход из матрицы</a></li>
    <li><a href="/pill-65">Выход из матрицы</a></li>
    <li><a href="/pill-66">Выход из матрицы</a></li>
    <li><a href="/pill-67">Выход из матрицы</a></li>
    <li><a href="/pill-68">Выход из матрицы</a></li>
    <li><a href="/pill-69">Выход из матрицы</a></li>
    <li><a href="/pill-70">Выход из матрицы</a></li>
    <li><a href="/pill-71">Выход из матрицы</a></li>
    <li><a href="/pill-72">Выход из матрицы</a></li>
    <li><a href="/pill-73">Выход из матрицы</a></li>
    <li><a href="/pill-74">Выход из матрицы</a></li>
    <li><a href="/pill-75">Выход из матрицы</a></li>
    <li><a href="/pill-76">Выход из матрицы</a></li>
    <li><a href="/pill-77">Выход из матрицы</a></li>
    <li><a href="/pill-78">Выход из матрицы</a></li>
    <li><a href="/pill-79">Выход из матрицы</a></li>
    <li><a href="/pill-80">Выход из матрицы</a></li>
  </div>
<body>
</body>



</html>


