.page {
    display: grid;
    grid-template-areas:
            "sidebar chat"
            "panel input";
    grid-template-columns: 160px 1fr;
    grid-template-rows: 1fr 48px;
    width: 640px;
    height: 100vh;
    margin: 0 auto;
    padding: 24px;
}

.sidebar {
    grid-area: sidebar;
    padding: 12px 4px;
    border: 1px solid var(--border);
    overflow-y: auto;
}

.user {
    margin-bottom: 4px;
    padding: 0 8px;
    cursor: pointer;

    &.selected,
    &:hover {
        background-color: var(--secondary);
    }
}

.chat {
    grid-area: chat;
    padding: 0 12px;
    border: 1px solid var(--border);
    border-left: none;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.message {
    padding: 4px 0 12px;
}

.author {
    font: var(--t-12);

    &.red {
        color: var(--red);
    }

    &.blue {
        color: var(--blue);
    }
}

.link {
    display: inline-block;
    margin-top: 4px;
    padding: 2px 4px;
    font: var(--t-12);
    color: var(--secondary);
    text-decoration: none;
    border: 1px solid var(--border);
    border-radius: 4px;

    .title {
        font: var(--t-14);
        color: var(--text);
    }
}

.panel {
    grid-area: panel;
    display: flex;
    align-items: center;
    padding: 0 4px;
    border: 1px solid var(--border);
    border-top: none;
}

.input {
    grid-area: input;
    display: flex;
    align-items: center;
    padding: 0 4px;
    border: 1px solid var(--border);
    border-top: none;
    border-left: none;
}
