@import "./theme/index.css";

html {
    background-color: var(--c-gray-9);
    color: var(--c-white);
    color-scheme: dark;
}

.content {
    width: 480px;
    padding: 40px 16px;
    margin: 0 auto;
}

.slug {
    margin-bottom: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.submit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 0 12px;
    font: var(--t-16);
    border: none;
    outline: none;
    background-color: var(--c-gray-8);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color var(--animation);

    &:hover {
        background-color: var(--c-gray-7);
    }
}
