:root {
    --c-white: #FAFCFF;
    --c-white-0: rgb(255 255 255 / 0%);

    --c-gray-2: #9D9D9D;
    --c-gray-3: #787880;
    --c-gray-5: #424346;
    --c-gray-7: #2F3032;
    --c-gray-8: #222222;
    --c-gray-9: #121212;

    --c-red-1: #E54E6D;
}
