@import "./theme/index.css";

html {
    background-color: var(--c-cool-gray-1);
    color: var(--c-cool-gray-9);
}

a {
    text-decoration: none;
    color: var(--c-cool-gray-9);
}

.app {
    width: 640px;
    margin: 32px auto;
    padding: 24px;
    border-radius: 8px;
    background-color: var(--c-white);
}

.header {
    margin-bottom: 16px;
}

.home {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 24px;
}
