:root {
    --c-white: #FFFFFF;
    --c-black: #000000;

    --c-primary-100: #FEF6E5;
    --c-primary-200: #FEE1B4;
    --c-primary-300: #FEBB67;
    --c-primary-400: #FDA041;
    --c-primary-500: #FC7303;
    --c-primary-600: #D85602;
    --c-primary-700: #B53E01;
    --c-primary-800: #922A00;
    --c-primary-900: #781C00;

    --c-secondary-100: #F0F1FD;
    --c-secondary-200: #DEE0FC;
    --c-secondary-300: #878EF8;
    --c-secondary-400: #6870F2;
    --c-secondary-500: #3942EA;
    --c-secondary-600: #2930C9;
    --c-secondary-700: #1C22A8;
    --c-secondary-800: #121687;
    --c-secondary-900: #0A0D70;

    --c-warning-100: #FEFAE5;
    --c-warning-200: #FEF2B9;
    --c-warning-300: #FEE06F;
    --c-warning-400: #FDD34B;
    --c-warning-500: #FDBE10;
    --c-warning-600: #D99D0B;
    --c-warning-700: #B67E08;
    --c-warning-800: #926105;
    --c-warning-900: #794C03;

    --c-success-100: #F2FCED;
    --c-success-200: #E2F9D9;
    --c-success-300: #ABEF9B;
    --c-success-400: #87E07D;
    --c-success-500: #56CC54;
    --c-success-600: #3DAF45;
    --c-success-700: #2A923A;
    --c-success-800: #1A7630;
    --c-success-900: #10612A;

    --c-error-100: #FEF6F1;
    --c-error-200: #FDE3DA;
    --c-error-300: #FBA18E;
    --c-error-400: #F77D71;
    --c-error-500: #F24444;
    --c-error-600: #D0313F;
    --c-error-700: #AE223A;
    --c-error-800: #8C1534;
    --c-error-900: #740D30;

    --c-grey-100: #F3F4F6;
    --c-grey-200: #ECEFF4;
    --c-grey-300: #DBE0E7;
    --c-grey-400: #B8C0CD;
    --c-grey-500: #959DAC;
    --c-grey-600: #6C7993;
    --c-grey-700: #4B587B;
    --c-grey-800: #2F3C63;
    --c-grey-900: #1C2752;
}
