.form {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    row-gap: 16px;
}

.check {
    position: relative;
    padding: 4px;
    border: 12px solid var(--c-white);
    box-shadow: 0 0 0 2px rgb(144, 189, 120);
    border-radius: 4px;
    font-family: monospace;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    white-space: nowrap;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url(./bg.png);
        background-size: 100%;
        opacity: 0.32;
    }

    > * {
        position: relative;
    }
}

.row {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }
}

.gap {
    flex: 1;
}

.value {
    flex: 1;
    min-width: 0;
    padding: 0 4px;
    border: solid currentColor;
    border-width: 0 1px 1px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.handwritten {
    composes: value;
    font-family: var(--ff-hand), monospace;
}

.date {
    composes: value;
    flex: unset;
}

.sig {
    composes: value;
    text-transform: initial;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.message {
    display: flex;
    column-gap: 8px;
    margin-top: 8px;
    color: var(--c-red);
}

.icon {
    display: flex;
    align-items: center;
    height: 24px;
    margin-left: -28px;
}
